<form action="/answer">
  <label for="/answer">Ask your coach anything:</label>
  <input type="text" value="question" placeholder="Type your question..." name="question">
  <input type="submit" value="Ask">
</form>
